body {
    background-color: black;
    width: 100%;
    margin: 0%;
}
/* header */

.header {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    text-shadow: 1px 1px 4px #231f20;
    color: #efefef;
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-size: 25px;
    padding: 15px;
    border-radius: 15px;
    border-style: groove;
}

.menu ul li {
    padding: 10px;
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    text-shadow: 1px 1px 4px #231f20;
    transition: all 100ms ease;
    color: white;
}

.menu ul li a:hover {
    color: aqua;
    border-bottom: 1px solid whitesmoke;
}

/* fin de header */

/* wrapper */ 

.wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 468px;
    width: 100%;
    background-image: url(https://s1.1zoom.me/b5050/376/423622-Kycb_1920x1080.jpg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
}

.wrapper h2 {
    margin-bottom: -600px;
    text-shadow: 1px 1px 4px #231f20;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: bold;
}

/* fin de wrapper */ 

/* low wrapper */

.low-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.low-wrapper h3 {
    text-shadow: 1px 1px 4px #231f20;
    color: #efefef;
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-size: 38px;
    padding: 30px;
    border-radius: 15px;
    border-style: groove;
    text-align: center;
}

.nuestrosdestinos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.low-wrapper figure figcaption a {
    display: flex;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 4px #231f20;
    transition: all 100ms ease;
    justify-content: center;
}

.low-wrapper figure img {
    height: 283px;
    width: 504px;
    margin: 1em;
    padding: 1em;
    float: center; 
} 

.low-wrapper figure figcaption a:hover {
    color: #0d2033;
}
/* fin de low-wrapper */

/* footer */ 

.pie-pagina {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.pie-pagina .grupo-01 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-01 .box-01 h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-01 .box-01 p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-01 .box-01 .redes a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    background-color: #0d2033;
    text-align: center;
    transition: all 100ms ease;
}

.pie-pagina .grupo-01 .box-01 .redes a:hover {
    color: aqua;
}

/* media screen */ 

@media screen and (min-width: 1024px) {
    .header {
        height: 200px;
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nuestrosdestinos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .argentina {
        width: 100%;
        display: grid;
        grid-template-areas: 
        "argh3 argh3 argh3 argh3"
        "calafate angostura ushuaia bariloche"
        !important;
    }

    .chile {
        width: 100%;
        display: grid;
        grid-template-areas: 
        "chileh3 chileh3 chileh3 chileh3"
        "varas montt natales arenas"
        !important;
    }

    .empresas {
        display: flex;
        flex-direction: row !important;
    }

    .all-info {
        width: 100%;
        height: 100%;
    }

    .text-01 {
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: -15px;
        margin-left: -15px;
        text-align: center;
    }

    .text-01 p {
        max-width: 33.3333333333%;
        color: black;
    }

    .mvv {
        background-color: whitesmoke;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        text-align: center;
    }

    .mvv div {
        max-width: 33.3333333333%;
    }

    .medios-pago {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        text-align: center;
    }

    .medios-pago01 {
        justify-content: flex-end !important;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px; 
        text-align: center;
    }

    .medios-pago00 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .medios-pago00 h2 {
        text-shadow: 1px 1px 4px #231f20;
        color: #9c1618;
    }
    
    .medios-pago01 div {
        display: block;
        flex: 0 0 16.6666666667%;
        max-width: 33.3333333333%;
        position: relative;
        min-height: 1px;
        width: 100%;
        padding-right: 60px;
        padding-left: 60px;
    }

}

/* destinos.html */

/* wrapper02 */

.wrapper02 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 250px;
    background-image: url(https://thumbs.dreamstime.com/b/panor%C3%A1mico-de-la-costa-cerca-ciudad-antofagasta-en-chile-123122583.jpg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: initial;
}

.wrapper02 h2 {
    text-shadow: 1px 1px 4px #231f20;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}

/* cierre wrapper02 */

/* low-wrapper02 */

.argentina {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "argh3 argh3"
    "calafate angostura"
    "ushuaia bariloche"
    ;
    justify-content: center; 
}
.argentina h3 {
    text-shadow: 1px 1px 4px #231f20;
    color: #efefef;
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-size: 38px;
    padding: 30px;
    border-radius: 15px;
    border-style: groove;
    text-align: center;
}

.argentina div figure img {
    width: 250px;
    height: 250px;
    border: transparent 1px solid;
    border-radius: 50%;
}

.argentina div figure figcaption {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 4px #231f20;
    transition: all 100ms ease;
    justify-content: center;
    text-align: center;
}

.argh3 {
    width: 100%;
    grid-area: argh3;
}

.calafate {
    width: 100%;
    grid-area: calafate;
}

.angostura {
    width: 100%;
    grid-area: angostura;
}

.ushuaia {
    width: 100%;
    grid-area: ushuaia;

}

.bariloche {
    width: 100%;
    grid-area: bariloche;

}

.chile {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "chileh3 chileh3"
    "varas montt"
    "natales arenas"
    ;
    justify-content: center; 
}

.chile h3{
    text-shadow: 1px 1px 4px #231f20;
    color: #efefef;
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-size: 38px;
    padding: 30px;
    border-radius: 15px;
    border-style: groove;
    text-align: center;
}

.chile div figure img {
    width: 250px;
    height: 250px;
    border: transparent 1px solid;
    border-radius: 50%;
}

.chile div figure figcaption {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 4px #231f20;
    transition: all 100ms ease;
    justify-content: center;
    text-align: center;
}

.chileh3 {
    width: 100%;
    grid-area: chileh3;
}

.varas {
    width: 100%;
    grid-area: varas;
}

.montt{
    width: 100%;
    grid-area: montt;
}

.natales {
    width: 100%;
    grid-area: natales;
}

.arenas {
    width: 100%;
    grid-area: arenas;
}

/* empresas.html */

.empresas {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.empresas img {
    width: 320px;
    height: 320px;
}

.empresas h2 {
    color: white;
    text-shadow: 1px 1px 4px #231f20;

}

.empresas p {
    color: white;
}

.oceantur {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.columbia {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.rotamund {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/* cierre empresas.html */

/* quienes-somos.html */

.all-info {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: ;
}

.mvv {
    justify-content: center;
    text-align: center;
}

.medios-pago00 {
    text-align: center;
}

.medios-pago01 div img {
    width: 150px;
    height: 150px;
}

.medios-pago00 h2 {
    text-shadow: 1px 1px 4px #231f20;
    color: #9c1618;
}

.medios-pago01 {
    display: grid;
    grid-template-areas:
    "tarjeta efectivo"
    "transferencia efectivo"
    ;
}

.efectivo {
    grid-area: efectivo;
}

.transferencia {
    grid-area: transferencia;
}

.tarjeta {
    grid-area: tarjeta;
}

/* cierre quienes-somos.html */

/* contancto.html */

.allitems {
    background-image: url(https://lonelyplanetes.cdnstatics2.com/sites/default/files/styles/max_1300x1300/public/blog/argentina_bestintravel2019_nido_huebl_shutterstock_0.jpg?itok=XATeMWcp);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
    width: 100%;
}
.form {
    margin: auto;
    background-color: whitesmoke;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}

.form-tittle {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.form-container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}
.form_input {
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form_input--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 1.5em;
}

.form_cta {
    font-family: inherit;
    background-color: #089fe0;
    color: #fff;
    border: none;
    font-weight: 300;
    padding: 1.7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
}